<table>
  <tr>
    <td>Buscar pregunta: </td>
    <td>
      <form method="get" action="/quizes">
        <input type="text" name="search" value="" />
        <input type="submit" value="Buscar"/>
      </form>
    </td>
  </tr>
</table>
	<p>
<table>
<% var i; for (i=0; i < quizes.length; i++) { %>
	<tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
<% } %>
</table>
<a href="/quizes/new"><button type="button">Añadir nueva pregunta</button></a>

